@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "sf";
  src: url("../../assets/apple.OTF") format("opentype");
}
@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}
.Hero {
  height: 90vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-img {
  height: 200px;
}

.title {
  /* font-family: "sf"; */
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-family: Hacked;
  letter-spacing: 2px;
  font-size: 8rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 0.2rem;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 515px) {
  .subtitle {
    display: none;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-family: sf;
  letter-spacing: 2px;
  margin-top: -30px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
